<header>
  <h1>All flats</h1>
  <h2>We have <%= pluralize(@flats.size, 'flat') %></h2>
</header>
<main class='flats-cards'>
  <% @flats.each do |flat| %>
    <div class="flat-card">
      <%= image_tag("flat#{flat.id}.jpg", size: '350x200') %>
      <h3><%= flat.name %></h3>
      <h4><%= flat.address %></h4>
      <div class="flat-card-info">
        <p>Number of people: <span><%= flat.number_of_guests %></span></p>
        <p>Price per night: <span><%= flat.price_per_night %></span>€</p>
      </div>
      <div class="links">
        <%= link_to 'More info', flat_path(flat), class: 'blue-color' %>
        <%= link_to 'Edit',  edit_flat_path(flat), class: 'orange-color' %>
        <%= link_to 'Remove', flat_path(flat), method: :delete, data: { confirm: 'Are you sure?'}, class: 'red-color' %>
      </div>
    </div>
  <% end %>
</main>
